/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
}


/*** Header ***/

#hero {
	background-color: #2735e9;
}

#textmyorder {
	margin-top: 15%;

	img {
		padding-left: 8%;
	}

	h2 {
		color: white;
		padding-left: 13%;
	}

	strong {
		font-size: 1.5em;
	}
}

#nexus {
	padding-top: 2%;
	padding-left: 6%;
}

/***How it Works***/

#howitworks {
	text-align: center;
}

/***Just like ordering online, but better***/

.justlike {
	margin-top: 3%;
	margin-left: 0%;

	h4 {
		color: #666;
		line-height: 1.7;
	}

	img {
		margin-top: 6%;
	}
}

#goahead {
	text-align: center;

	strong {
		color: #2735e9;
	}
}
